{% extends "base.html" %}} {% block title %} Home Page {% endblock %} {% block
content %}

<div class="container">
  <h1>About Our Gender Classification System</h1>
  <p>
    Welcome to our gender classification system! Our system is designed to
    accurately classify individuals as male or female based on various facial features such as eye, nose, eyebrow, mouth, and ear alignment.
  </p>
  <h2>How It Works</h2>
  <p>
    Our system uses advanced machine learning algorithms to analyze and learn
    from a large dataset of male and female individuals. By training our model
    on this dataset, we are able to achieve high accuracy in our predictions.
  </p>
  <p>
    When you use our system, you simply need to either upload an image of your face close up or you can also take an image using the builtin camera feature. Note that in order to user camera feature, you should have a working camera in your device and give permission to the application to use it. Our model will classify the individual as
    male or female based on its analysis of the input image.
  </p>
  <h2>Applications</h2>
  <p>
    Our gender classification system has a wide range of potential applications.
    For example, it can be used to identify the gender of customer service
    calls, classify the gender of users on a social media platform, or analyze
    job applicants to ensure gender diversity in the hiring process.
  </p>
  <p>
    We believe that our system can be a valuable tool for promoting gender
    diversity and inclusion in various industries and applications.
  </p>
  <h2>Thank You</h2>
  <p>
    Thank you for using our gender classification system! We hope that it will
    be a useful and accurate tool for you.
  </p>
</div>

{% endblock %}
