{% extends "base.html" %} {% block title %} Home Page {% endblock %} {% block
content %}
<div class="wrapper">
  <div class="side left">
    <div class="image upload"></div>
    <div class="caption">
      <h1>Upload</h1>
      <a class="button" href="/upload">Upload Image</a>
    </div>
  </div>

  <div class="side right">
    <div class="image capture"></div>
    <div class="caption">
      <h1>Capture</h1>
      <a class="button" href="/capture">Capture Image</a>
    </div>
  </div>
</div>
{% endblock %}
